[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
"bs4" = "*"
requests = "*"
pandas = "*"
lxml = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.7"
